@* @model IEnumerable<Bootstrap_Layout_PartialView.Models.Employee>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
        </tr>
}
    </tbody>
</table> *@


@model IEnumerable<Bootstrap_Layout_PartialView.Models.Employee>
@{
    ViewData["title"] = "Index";
}
<h3 class="text-primary">Index Page Contents</h3>
<hr />
<div class="table-responsive">
    <div class="row">
        <div class="col">
            <table class="table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emp in Model)
                    {
                        <partial name="_EmpPartialView" model="emp" />
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>